---
layout: default
---

<div id="bodysub">
  <details>
    <!--
    <summary id="aboutsummary">
      <div id="abouttoggle">
      </div>
      <h1>
        {{ site.title }}
      </h1>
      <h2>
        {{ site.description }}
      </h2>
    </summary>
    <div id="photogroup">
      <div id="mobilepic">
      </div>
      <a href="mailto:liajprins@gmail.com" target="_blank" id="email">liajprins@gmail.com </a><span id="firstcontactpipe" class="contactpipe">|</span> <a href="https://www.instagram.com/liaprins/" target="_blank"><img alt="Instagram" id="instagram" src="{{ site.baseurl }}assets/images/sitewide/instagram.svg"><span id="instagram-text"></span> </a><span class="contactpipe">|</span><a href="{{ site.baseurl }}/assets/content/liaprins_resume.pdf" id="resume" target="_blank">Résumé</a>
    </div>
    <span id="abouttext">
      <span id="aboutoverview">
        {{ page.overview }}
      </span>
      <span id="aboutcurrent">
        {{ page.current }}
      </span>
      <span id="aboutpassion">
        {{ content }}
      </span>
    </span>
  </details>
  -->
