---
layout: default
---

<body>

  <script src="{{ site.baseurl }}assets/js/pop.js">
  </script>

  <script src="{{ site.baseurl }}assets/js/lightboxslideshow.js">
  </script>

  <script src="{{ site.baseurl }}assets/js/pure-swipe.js">
  </script>

  <div id="bodysub">
      <a href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}assets/images/sitewide/back.svg" alt="Back to all projects" id="back">
      </a>
      <h1>
          {{ page.title }}
      </h1>

      <ul id="menu">

          {% if page.content contains 'Opportunities' %}
          <a href="#opportunities">
              <li class="menuitem">Opportunities</li>
          </a>
          {% endif %}

          {% if page.content contains 'Process' %}
          <a href="#process">
              <li class="menuitem">Process</li>
          </a>
          {% endif %}

          {% if page.content contains 'Outcomes' %}
          <a href="#outcomes">
              <li class="menuitem">Outcomes</li>
          </a>
          {% endif %}

          {% if page.content contains 'Live + learn' %}
          <a href="#livelearn">
              <li class="menuitem">Live + learn</li>
          </a>
          {% endif %}

      </ul>

      <div id="intro">
          {{ page.intro }}
      </div>

      <!-- TESTING PROJECT STATS SECTION -->
      <div id="stats">

      {% if page.title == 'Watson for Drug Discovery' %}
        <p class="asterisk">
          <sup>1 </sup>{{ page.asterisk }}
        </p>
      {% endif %}

      {% if page.website %}
        <strong>Website: </strong>{{ page.landing-page }}<br>
      {% endif %}

      {% if page.project-pretext %}
        <strong>Project pretext: </strong>{{ page.project-pretext }}<br>
      {% endif %}

      {% if page.objective %}
        <strong>Objective: </strong>{{ page.objective }}<br>
      {% endif %}

      {% if page.timeframe %}
        <strong>Timeframe: </strong>{{ page.timeframe }}<br>
      {% endif %}

      {% if page.target-audience %}
        <strong>Target audience: </strong>{{ page.target-audience }}<br>
      {% endif %}

      {% if page.target-users %}
        <strong>Target users: </strong>{{ page.target-users }}<br>
      {% endif %}

      {% if page.role %}
        <strong>Role: </strong>{{ page.role }}<br>
      {% endif %}

      {% if page.team-members %}
        <strong>Additional team members: </strong>{{ page.team-members }}<br>
      {% endif %}

      {% if page.output-channels %}
        <strong>Output channels: </strong>{{ page.output-channels }}<br>
      {% endif %}

      {% if page.guild-members %}
        <strong>Guild members: </strong>{{ page.guild-members }}<br>
      {% endif %}

      </div>

<!-- ******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************** -->

      {{ content }}

<!-- ******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************** -->

      <hr id="gridseparator">
